# Dataframe - Criação e Fatiamento

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(np.random.randn(5, 4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df = pd.DataFrame(np.random.randn(5, 4), columns='W X Y Z'.split())
df

          W         X         Y         Z
0 -0.993263  0.196800 -1.136645  0.000366
1  1.025984 -0.156598 -0.031579  0.649826
2  2.154846 -0.610259 -0.755325 -0.346419
3  0.147027 -0.479448  0.558769  1.024810
4 -0.925874  1.862864 -1.133817  0.610478

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df[['W', 'Z']]

          W         Z
0 -0.993263  0.000366
1  1.025984  0.649826
2  2.154846 -0.346419
3  0.147027  1.024810
4 -0.925874  0.610478

In [10]:
df.W

0   -0.993263
1    1.025984
2    2.154846
3    0.147027
4   -0.925874
Name: W, dtype: float64

In [11]:
df['new'] = df['W'] + df['X']

In [12]:
df

          W         X         Y         Z       new
0  0.302665  1.693723 -1.706086 -1.159119  1.996388
1 -0.134841  0.390528  0.166905  0.184502  0.255687
2  0.807706  0.072960  0.638787  0.329646  0.880666
3 -0.497104 -0.754070 -0.943406  0.484752 -1.251174
4 -0.116773  1.901755  0.238127  1.996652  1.784981

In [14]:
df.drop('new', axis=1)

          W         X         Y         Z
0  0.302665  1.693723 -1.706086 -1.159119
1 -0.134841  0.390528  0.166905  0.184502
2  0.807706  0.072960  0.638787  0.329646
3 -0.497104 -0.754070 -0.943406  0.484752
4 -0.116773  1.901755  0.238127  1.996652

In [15]:
df

          W         X         Y         Z       new
0  0.302665  1.693723 -1.706086 -1.159119  1.996388
1 -0.134841  0.390528  0.166905  0.184502  0.255687
2  0.807706  0.072960  0.638787  0.329646  0.880666
3 -0.497104 -0.754070 -0.943406  0.484752 -1.251174
4 -0.116773  1.901755  0.238127  1.996652  1.784981

In [16]:
df.drop('new', axis=1, inplace=True)

In [17]:
df

          W         X         Y         Z
0  0.302665  1.693723 -1.706086 -1.159119
1 -0.134841  0.390528  0.166905  0.184502
2  0.807706  0.072960  0.638787  0.329646
3 -0.497104 -0.754070 -0.943406  0.484752
4 -0.116773  1.901755  0.238127  1.996652

In [21]:
df.loc[0, 'W']

0.3026654485851825

In [23]:
df.loc[0]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: 0, dtype: float64

In [24]:
df.loc[[0, 1], ['X', 'Y', 'Z']]

          X         Y         Z
0  1.693723 -1.706086 -1.159119
1  0.390528  0.166905  0.184502

In [26]:
df.iloc[1:4, 2:]

          Y         Z
1  0.166905  0.184502
2  0.638787  0.329646
3 -0.943406  0.484752