In [4]:
import numpy as np
import pandas as pd

In [5]:
# NÃ­veis de indice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [14]:
df

             A         B
G1 1  1.674803 -0.514516
   2  0.452841  0.704562
   3 -0.842999 -0.654524
G2 1 -0.143792  1.698209
   2 -0.421776 -0.980826
   3 -0.908591  0.206129

In [20]:
df.loc['G1']

          A         B
1  1.674803 -0.514516
2  0.452841  0.704562
3 -0.842999 -0.654524

In [22]:
df.index.names = ['Grupo', 'Numero']

In [23]:
df

                     A         B
Grupo Numero
G1    1       1.674803 -0.514516
      2       0.452841  0.704562
      3      -0.842999 -0.654524
G2    1      -0.143792  1.698209
      2      -0.421776 -0.980826
      3      -0.908591  0.206129

In [27]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     1.674803 -0.514516
G2    -0.143792  1.698209