In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2' ]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A','B'])

In [7]:
df

             A         B
G1 1 -1.223397  1.297624
   2 -0.757662 -0.460561
   3  0.877087  1.866873
G2 1  0.602107 -0.532285
   2  0.803164  1.340223
   3 -1.065713 -0.623987

In [8]:
df.loc['G1']

          A         B
1 -1.223397  1.297624
2 -0.757662 -0.460561
3  0.877087  1.866873

In [9]:
df.loc['G1'].loc[1]

A   -1.223397
B    1.297624
Name: 1, dtype: float64

In [13]:
df.index.names = ['Grupo', 'Numero']
df

                     A         B
Grupo Numero
G1    1      -1.223397  1.297624
      2      -0.757662 -0.460561
      3       0.877087  1.866873
G2    1       0.602107 -0.532285
      2       0.803164  1.340223
      3      -1.065713 -0.623987

In [18]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -1.223397  1.297624
G2     0.602107 -0.532285